.button {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $color-btn-border;

  color: $secondary-color-text;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $color-text-btn-hover;

    background-color: $color-btn-bg;
  }

  &:active {
    color: $color-text-btn-active;

    background-color: $color-btn-bg;
  }
}
