.catalogues__list {
  @include list-reset ();
}

.catalogues__link {
  display: block;

  @include text (19px, 24px);
  color: $color-text-catalogues;
}

.catalogues__link--interior {
  background-color: $color-ctlgs-intr-bg;
}

.catalogues__link--toys {
  background-color: $color-ctlgs-ts-bg;
}

@media (max-width: $mobile-width-only) {
  .catalogues__link {
    width: 320px;
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $tablet-width) {
  .catalogues__list {
    width: 100%;
    display: flex;
  }

  .catalogues__item {
    flex-grow: 1;
  }

  .catalogues__link {
    width: 100%;

    @include text (20px, 30px);
  }
}
