@media (max-width: $mobile-width-only) {
  .copyright {
    padding-top: 21px;
    padding-bottom: 23px;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;

  vertical-align: middle;

  fill: $color-html-ac-bg;
}

.copyright__link {
  @include text(19px, 18px);

  color: $main-color-text;

  &:hover .copyright__logo,
  &:focus .copyright__logo {
    fill: $color-html-ac-bg-hover;
  }

  &:active {
    color: $main-color-text-opacity-hover;
  }

  &:active .copyright__logo {
    fill: $color-html-ac-bg-active;
  }
}

.copyright__text {
  margin-right: 25px;
}
