.features__wrap {
  padding-top: 30px;
}

.features__title {
  margin: 0;
  margin-bottom: 29px;

  @include text(25px, 30px);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include list-reset();
}

.features__item {
  position: relative;

  min-height: 125px;
  padding-top: 55px;

  @include text(17px, 20px);
}

.features__icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  color: #63d1bb;
  transform-origin: center center;

  svg {
    display: block;
  }
}

.features__item--eco-material .features__icon {
  left: 8px;
}

.features__item--nordic-style .features__icon {
  left: 0;
}

.features__item--likes {
  padding-top: 53px;

  .features__icon {
    left: 7px;
    top: 2px;
  }
}

.features__item--handmade {
  padding-top: 51px;

  .features__icon {
    left: 3px;
  }
}

.features__item--domestic-production {
  padding-top: 49px;

  .features__icon {
    top: -2px;
    left: -5px;
  }
}

.features__item--gift-wrap {
  padding-top: 47px;

  .features__icon {
    top: -5px;
    left: 3px;
  }
}

@media (min-width: $tablet-width) {
  .features {
    position: relative;

    z-index: 10;
  }

  .features__wrap {
    padding-top: 50px;
  }

  .features__title {
    margin-bottom: 50px;

    @include text(43px, 50px);
  }

  .features__list {
    flex-direction: row;
  }

  .features__item {
    width: 50%;
    margin-bottom: 28px;

    @include text(20px, 22px);
  }

  .features__item--handmade {
    order: 1;
  }

  .features__item--nordic-style {
    order: 2;
  }

  .features__item--domestic-production {
    padding-top: 55px;
    order: 3;

    .features__icon {
      top: 5px;
    }
  }

  .features__item--likes {
    padding-top: 56px;
    order: 4;

    .features__icon {
      top: 7px;
    }
  }

  .features__item--gift-wrap {
    padding-top: 56px;
    order: 5;

    .features__icon {
      top: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__wrap {
    margin-left: 175px;
    padding-top: 59px;
  }

  .features__title {
    @include text(53px, 57px);
  }

  .features__item {
    width: 350px;
  }
}
