.filters__container {
  margin-bottom: 24px;
  padding-top: 21px;
}

.filters__info {
  margin: 0;

  @include text(13px, 24px, 400);
  color: $secondary-color-text;
}

@media (min-width: $tablet-width) {
  .filters__container {
    margin-bottom: 55px;
    padding-top: 62px;
  }

  .filters__info {
    @include text(17px, 30px, 400);
  }
}

@media (min-width: $desktop-width) {
  .filters__container {
    margin-bottom: 55px;
    padding-top: 120px;
  }

  .filters__info {
    margin-left: 175px;
    margin-right: 175px;
  }
}
