.form-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-cart__wrap {
  margin: 0;
  margin-bottom: 31px;
}

.form-cart__control--radio:checked + .form-cart__label {
  border-color: $color-border-modal-label-active;
}

.form-cart__label {
  display: block;
  width: 82px;
  min-height: 52px;
  padding-top: 17px;
  padding-bottom: 10px;

  @include text(17px, 16px);

  border: 2px solid $color-border-modal-label;

  cursor: pointer;

  &:hover {
    border-color: $color-border-modal-label-hover;
  }
}

.form-cart__add-to-cart {
  width: 100%;
  min-height: 52px;

  font: inherit;

  @include text(17px, 16px);
  color: $color-text-btn-cart;
  text-transform: uppercase;

  background-color: $color-btn-cart-bg;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-btn-cart-bg-hover;
  }

  &:active {
    color: $color-text-btn-active;
  }
}


@media (max-width: $mobile-width-only) {
  .form-cart {
    width: 260px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .form-cart__label {
    width: 112px;
  }
}
