@media (min-width: $desktop-width) {
  .offer-list {
    display: flex;
    flex-wrap: wrap;

    @include list-reset();
  }

  .offer-list__item {
    width: 220px;
    padding-top: 18px;
  }

  .offer-list__link {
    @include text(15px, 24px);
    color: $main-color-text;

    &[href]:hover,
    &[href]:focus {
      color: $main-color-text-hover;
    }

    &[href]:active {
      color: $main-color-text-active;
    }
  }
}
