.page-header {
  border-top: 1px solid $color-border-ph;
  border-bottom: 1px solid $color-border-ph;
}

.page-header__container {
  position: relative;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    display: flex;
    flex-wrap: wrap;
    min-height: 89px;
  }
}

