.page-main__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 69px;
  padding-bottom: 76px;

  @include text(27px, 30px);
  text-align: center;

  background-color: $color-h1-bg;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    position: relative;
    margin-bottom: 68px;
    padding-top: 55px;
    padding-bottom: 90px;

    @include text(43px, 50px);

    z-index: 100000;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;

      height: 22px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: 768px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    margin-bottom: 125px;
    padding-bottom: 104px;

    @include text(53px, 57px);

    &::after {
      bottom: -15px;

      height: 34px;

      background-position: 0 0;
      background-size: 1150px auto;
    }
  }
}
