.page-footer {
  background-color: $color-footer-bg;
}

.page-footer__container {
  text-align: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-icon {
  width: 102px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    min-height: 143px;
    padding-top: 51px;
  }

  .page-footer__logo {
    display: block;

    &[href="index.html"]:hover .page-footer__logo-icon,
    &[href="index.html"]:focus .page-footer__logo-icon {
      fill: $color-element-footer-bg-hover;
    }

    &[href="index.html"]:active .page-footer__logo-icon {
      fill: $color-element-footer-bg-active;
    }
  }

  .page-footer__social {
    margin-top: 5px;
    margin-left: 159px;
    margin-right: auto;
  }

  .page-footer__copyright {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__social {
    margin-left: 349px;
  }
}
