.product__wrap {
  padding-top: 26px;
  padding-left: 28px;

  border: 1px solid $color-border-price;
}

.product {
  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba($color: #000000, $alpha: 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color: #000000, $alpha: 0.1);
  }
}

.product__title {
  display: block;
  margin-bottom: 5px;

  @include text(17px, 24px);
  color: $main-color-text;

  &:hover,
  &:focus {
    color: $main-color-text-hover;
  }

  &:active {
    color: $main-color-text-active;
  }
}

.product__link--image {
  display: block;
  width: 260px;
  height: 195px;
}

.product__description {
  margin: 0;
  margin-bottom: 18px;

  @include text(13px, 30px, 400);
  color: $secondary-color-text;
}

.product__price {
  display: flex;
  justify-content: space-between;
  width: 204px;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 28px;

  border-top: 1px solid $color-border-price;
}

.product__price-content {
  @include text(15px, 24px);
}

.product__cart-icon {
  fill: $color-main-icon-bg;
}

.product__add-to-cart {
  &:hover .product__cart-icon,
  &:focus .product__cart-icon {
    fill: $color-cart-icon-bg-hover;
  }

  &:active .product__cart-icon {
    fill: $color-cart-icon-bg-active;
  }
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    width: 100%;
  }

  .product__title {
    @include text(20px, 24px);
  }

  .product__link--image {
    width: 334px;
    height: 334px;
  }

  .product__wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .product__description {
    margin-bottom: auto;

    @include text(15px, 30px, 400);
  }

  .product__price {
    width: 88%;
    padding-top: 22px;
    padding-bottom: 24px;

    @include text(17px, 24px);
  }

  .product__price-content {
    @include text(17px, 24px);
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: block;
    width: 316px;
  }

  .product__wrap {
    display: flex;
    min-height: 197px;
    flex-direction: column;
    flex-grow: 0;
  }

  .product__link--image {
    width: 316px;
    height: 462px;
  }
}
