.product__title {
  @include text(17px, 24px);

  color: $main-color-text;

  &:hover,
  &:focus {
    color: $main-color-text-opacity-hover;
  }

  &:active {
    color: $main-color-text-opacity-down;
  }
}

.product__image-box {
  margin: 0;
  padding: 0;

  width: 260px;
  height: 195px;
}

.product__description {
  margin: 0;
  padding: 0;

  @include text(13px, 30px, 400);

  color: $secondary-color-text;
}

.product__price {
  margin: 0;
  padding: 0;
}

.product__price-content {
  @include text(15px, 24px);
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 334px;
    margin-bottom: 54px;
    padding-left: 334px;
  }

  .product__description {
    margin-bottom: auto;
  }

  .product__image-box {
    position: absolute;
    top: 0;
    left: 0;

    width: 334px;
    height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 316px;
    min-height: auto;
    margin-bottom: auto;
    padding-top: 462px;
    padding-left: 0;
  }

  .product__image-box {
    top: 0;
    left: 0;

    width: 316px;
    height: 462px;
  }
}
