.reviews {
  padding-bottom: 50px;

  @include zg-line(6px, -6px, contain);
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;

  @include text(25px, 30px);
}

.reviews__list {
  @include list-reset();

  margin-bottom: 30px;
}

.reviews__quotation {
  margin: 0;
  padding: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  @include text(15px, 30px, 400);
  font-style: normal;
  color: $secondary-color-text;
}

.reviews__author {
  font-style: normal;
}

.reviews__author-account {
  display: block;

  @include text(17px, 35px, 400);
  font-style: normal;
  color: $secondary-color-text;
}

.reviews__write {
  display: block;

  @include text(18px,20px);
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .reviews__title {
    @include text(43px, 50px);
    order: -2;
  }

  .reviews__text {
    @include text(17px, 30px, 400);
  }

  .reviews__write {
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    margin-left: 175px;
  }

  .reviews__title {
    @include text(53px, 57px);
  }
}
