.seach-form__wrap {
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 46px;
}

.seach-form__loupe-icon {
  position: absolute;
  left: 0;
  top: 4px;

  width: 18px;
  height: 18px;
}

.seach-form__label {
  &:hover .seach-form__loupe-icon-path,
  &:focus .seach-form__loupe-icon-path {
    fill: $color-loupe-icon-bg-hover;
  }

  &:active .seach-form__loupe-icon-path {
    fill: $color-loupe-icon-bg-active;
  }
}

.seach-form__control {
  width: 90%;
  border: none;

  font: inherit;

  background-color: transparent;

  &::placeholder {
    color: $main-color-text;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $main-color-text-opacity-hover;
  }

  &:active::placeholder {
    color: $main-color-text-opacity-down;
  }
}
