.search-form__wrap {
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 46px;
}

.search-form__loupe-icon {
  position: absolute;
  top: 0;
  left: 0;

  width: 18px;
  height: 18px;

  fill: $color-main-icon-bg;
}

.search-form__label {
  position: absolute;
  left: 0;
  top: 5px;

  width: 18px;
  height: 18px;

  cursor: pointer;

  &:hover .search-form__loupe-icon,
  &:focus .search-form__loupe-icon {
    fill: $color-loupe-icon-bg-hover;
  }

  &:active .search-form__loupe-icon {
    fill: $color-loupe-icon-bg-active;
  }
}

.search-form__control {
  width: 100%;

  font: inherit;

  @include text(17px,24px);

  background-color: transparent;
  border: none;

  &::placeholder {
    color: $main-color-text;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $main-color-text-hover;
  }

  &:active::placeholder {
    color: $main-color-text-active;
  }
}

@media (min-width: $tablet-width) {
  .search-form--container {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .search-form__control {
    display: none;
  }

  .search-form__wrap {
    width: 21px;
    height: 21px;
    margin-left: 32px;
    padding: 0;
  }

  .search-form__label {
    left: 50%;
    top: 50%;

    margin-left: -9px;
    margin-top: -9px;

    &:focus {
      outline: thin dotted skyblue;
      outline-offset: 2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .search-form__label {
    margin-left: -15px;
  }
}
