.site-list {
  @include list-reset();
}

.site-list__link {
  color: $main-color-text;

  &[href]:hover,
  &[href]:focus {
    color: $main-color-text-opacity-hover;
  }

  &[href]:active {
    color: $main-color-text-opacity-down;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .site-list__item {
    display: flex;
    align-items: center;
    min-height: 79px;
    padding-left: 46px;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;

    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 0;
  }
}
