.site-list {
  @include list-reset();
}

.site-list__item {
  display: flex;
  align-items: center;
  min-height: 79px;
  padding-left: 46px;

  &::before {
    content: "";

    position: absolute;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-border-ph;
  }
}

.site-list__item--border-first {
  &::before {
    top: 79px;
  }
}

.site-list__item--border-second {
  &::before {
    top: 79px * 2;
  }
}

.site-list__link {
  color: $main-color-text;

  &:hover,
  &:focus {
    color: $main-color-text-opacity-hover;
  }

  &:active {
    color: $main-color-text-opacity-down;
  }
}
