.site-list {
  @include list-reset();
  @include text(17px, 24px);
}

.site-list__link {
  text-align: left;
  color: $main-color-text;

  &[href]:hover,
  &[href]:focus {
    color: $main-color-text-opacity-hover;
  }

  &[href]:active {
    color: $main-color-text-opacity-down;
  }
}

@media (max-width: $mobile-width-only) {
  .site-list__item {
    padding-top: 27px;
    padding-bottom: 28px;
    border-bottom: 1px solid $color-border-ph;
  }

  .site-list__link--container {
    display: block;
    padding-left: 76px;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;

    @include text(15px, 24px);
  }

  .site-list__link--container {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .site-list__item {
    width: 167px;
  }
}

// @media (min-width: $desktop-width) {
//   .site-list {
//     order: 0;
//   }
// }
