@media (max-width: $mobile-width-only) {
  .social {
    padding-top: 22px;
    padding-bottom: 25px;

    border-bottom: 1px solid $color-border-social;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 141px;

  @include list-reset();
  margin: 0 auto;
}

.social__icon {
  fill: $color-social-bg;

  &:hover,
  &:focus {
    fill: $color-element-footer-bg-hover;
  }

  &:active {
    fill: $color-element-footer-bg-active;
  }
}

.social__icon-instagram {
  width: 22px;
  height: 21px;
}

.social__icon-facebook {
  width: 15px;
  height: 28px;
}

.social__icon-twitter {
  width: 24px;
  height: 20px;
}
