.user-list {
  @include list-reset();
  @include text(17px, 24px);
}

.user-list__link-cart {
  position: relative;

  color: $main-color-text;

  &[href]:hover,
  &[href]:focus {
    color: $main-color-text-opacity-hover;
  }

  &[href]:hover .user-list__cart-icon-path,
  &[href]:focus .user-list__cart-icon-path {
    fill: $color-cart-icon-bg-hover;
  }

  &[href]:active {
    color: $main-color-text-opacity-down;
  }

  &[href]:active .user-list__cart-icon-path {
    fill: $color-cart-icon-bg-active;
  }
}

.user-list__cart-icon {
  position: absolute;
  left: 30px;
  top: 1px;

  width: 20px;
  height: 19px;
}

@media (max-width: $mobile-width-only) {
  .user-list__item {
    padding-top: 23px;
    padding-bottom: 28px;
    border-bottom: 1px solid $color-border-ph;
  }

  .user-list__link-cart--container {
    display: block;
    padding-left: 76px;
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
  }

  .user-list__link-cart--container {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .user-list__item {
    display: flex;
    min-height: 79px;
    align-items: center;
  }

  .user-list__item:first-child {
    justify-content: center;
    width: 83px;
    border-right: 1px solid $color-border-ph;
  }

  .user-list__item:nth-child(2) {
    justify-content: flex-end;
  }

  .user-list__link-cart {
    width: 264px;
    padding-left: 55px;

    text-align: right;
  }
}

// @media (min-width: $desktop-width) {
//   .user-list {
//     order: 1;
//   }
// }
