@mixin size-img($max-width: 100%, $height: auto) {
  max-width: $max-width;
  height: $height;
}

@mixin text($font-size: 17px, $line-height: 20px, $font-weight: 700) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

