$main-font: "Open Sans", "Arial", sans-serif;
$main-color-text: rgb(0, 0, 0);
$secondary-color-text: rgb(68, 68, 68);
$main-color-text-opacity-hover: rgba(0, 0, 0, 0.6);
$main-color-text-opacity-down: rgba(0, 0, 0, 0.3);
$color-text-catalogues: rgb(255, 255, 255);
$color-text-spec-off: rgb(99, 209, 187);
$color-text-pi-dsrp: rgb(68, 68, 68);
$color-text-rvws: rgb(68, 68, 68);
$color-text-btn: rgb(68, 68, 68);
$color-text-btn-hover: rgb(255, 255, 255);
$color-text-btn-active: rgba(255, 255, 255, 0.3);
$color-text-btn-cart: rgb(255, 255, 255);
$color-text-mail-hover: rgb(70, 193, 174);
$color-text-mail-active: rgba(70, 193, 174, 0.3);
$color-btn-bg: rgb(68, 68, 68);
$color-slider-btn-bg: rgb(0, 0, 0);
$color-main-bg: rgb(255, 255, 255);
$color-header-bg: rgb(255, 255, 255);
$color-footer-bg: rgb(241, 241, 241);
$color-modal-bg: rgb(255, 255, 255);
$color-ctlgs-intr-bg: rgb(99, 209, 187);
$color-ctlgs-ts-bg: rgb(86, 195, 178);
$color-btn-cart-bg: rgb(99, 209, 187);
$color-border-ph: rgb(236, 236, 236);
$color-border-mail: rgb(203, 240, 232);
$color-border-mail-hover: rgb(193, 234, 228);
$color-border-mail-active: rgba(193, 234, 228, 0.3);
$opacity-hover: 0.6;
$opacity-down: 0.3;
