$main-font: "Open Sans", "Arial", sans-serif;
$main-color-text: rgb(0, 0, 0);
$main-color-text-opacity-hover: rgba(0, 0, 0, 0.6);
$main-color-text-opacity-down: rgba(0, 0, 0, 0.3);
$secondary-color-text: rgb(68, 68, 68);
$secondary-color-text-plchdr: rgba(68, 68, 68, 0.3);
$color-text-catalogues: rgb(255, 255, 255);
$color-text-catalogues-active: rgba(255, 255, 255, 0.3);
$color-text-spec-off: rgb(99, 209, 187);
$color-text-legend: rgb(99, 209, 187);
$color-text-btn-hover: rgb(255, 255, 255);
$color-text-btn-active: rgba(255, 255, 255, 0.3);
$color-text-btn-cart: rgb(255, 255, 255);
$color-text-mail-hover: rgb(70, 193, 174);
$color-text-mail-active: rgba(70, 193, 174, 0.3);
$color-btn-bg: rgb(68, 68, 68);
$color-legend-bg: rgb(98, 209, 186);
$color-label-bg: rgb(68, 68, 68);
$color-radio-checked-bg: rgb(98, 209, 186);
$color-checkbox-checked-bg: rgb(0, 0, 0);
$color-btn-border: rgb(68, 68, 68);
$color-main-bg: rgb(255, 255, 255);
$color-h1-bg: rgb(241, 241, 241);
$color-promo-bg: rgb(249, 249, 249);
$color-header-bg: rgb(255, 255, 255);
$color-footer-bg: rgb(241, 241, 241);
$color-fieldset-gray-bg: rgb(241, 241, 241);
$color-modal-bg: rgb(255, 255, 255);
$color-ctlgs-intr-bg: rgb(99, 209, 187);
$color-ctlgs-intr-bg-hover: rgb(89, 213, 188);
$color-ctlgs-icon-bg: rgb(20, 144, 128);
$color-ctlgs-toy-bg: rgb(86, 195, 178);
$color-ctlgs-toy-bg-hover: rgb(70, 193, 174);
$color-social-bg: rgb(35, 31, 32);
$color-production-bg: rgb(212, 212, 212);
$color-social-bg-hover: rgb(99, 209, 187);
$color-social-bg-active: rgba(99, 209, 187, 0.3);
$color-html-ac-bg: rgb(99, 209, 187);
$color-html-ac-bg-hover: rgb(70, 193, 174);
$color-cart-icon-bg-hover: rgb(99, 209, 187);
$color-cart-icon-bg-active: rgba(99, 209, 187, 0.3);
$color-loupe-icon-bg-hover: rgb(99, 209, 187);
$color-loupe-icon-bg-active: rgba(99, 209, 187, 0.3);
$color-html-ac-bg-active: rgba(70, 193, 174, 0.3);
$color-btn-cart-bg: rgb(99, 209, 187);
$color-border-ph: rgb(236, 236, 236);
$color-border-price: rgb(236, 236, 236);
$color-border-production-process: rgb(236, 236, 236);
$color-border-slider-button: rgb(236, 236, 236);
$color-border-table: rgb(249, 249, 249);
$color-border-mail: rgb(98, 209, 186);
$color-border-social: rgb(229, 229, 229);
$color-border-mail-hover: rgb(70, 193, 174);
$color-border-mail-active: rgba(70, 193, 174, 0.1);
$color-border-form-filter: rgb(0, 0, 0);
$color-border-form-filter-hover: rgb(150, 224, 209);
$opacity-hover: 0.6;
$opacity-down: 0.3;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
